@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans&display=swap');

.doc {
  box-sizing: border-box;
}

.page {
  width: 100%;
  margin: 0 auto;
  background: #F2F2F2;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'PT Sans', sans-serif;
}

.header {
  min-height: 90px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 250px;
}

/* Теги */
.tags {
  border-radius: 3px;
  padding: 3px 5px;
  color: white;
  margin: auto;
  text-decoration: none;
}

.tags:hover {
  text-decoration: underline;
}

.tags__text_header {
  background: #4A90E2;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.tags__text_cards {
  background: #4A90E2;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: 30px;
  left: 20px;
}

/* Тип просмотра ???*/
.logo {
  display: flex;
  flex-flow: row nowrap;
}

.logo__name {
  text-decoration: none;
  margin-right: 6px;
}

.logo__name:link,
.logo__name:visited {
  color: white;
}

.logo__name:hover {
  color: #4A90E2;
  text-decoration: underline;
}

/* Меню с модификаторами */
.menu {
  min-height: 18px;
  margin: 0;
}

.menu-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu-item {
  list-style-type: none;
  display: inline;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-link:link,
.menu-link:visited {
  color: white;
}

.menu__header_size {
  min-width: 368px;
}

.menu__footer_size {
  min-width: 353px;
}

/* Значек поиска */
.search {
  min-height: 17px;
  min-width: 16px;
  background-image: url(../images/search.png);
}

.search:hover {
  background-image: url(../images/searchblue.png);
}

/* Контент ниже */
.content {
  background: white;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.car-cards {
  max-height: 600px;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  margin: 15px auto;
}

.car-card {
  max-width: 30%;/*405px;*/
  max-height: 50%; /* 270px; */
  margin: 15px 15px;
  position: relative;
}

.car-card__main_size {
  max-height: 100%; /* 600px; */
}

.car-card-image {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 5px;
}

.car-card__article {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  text-decoration: none;
}

.car-card__article:hover {
  text-decoration: underline;
}

.car-card__article-author {
  margin: 0 0 6px 20px;
  font-family: PT Sans, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  font-weight: normal;
}

.car-card__article-name {
  margin: 0 85px 30px 20px;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
}

.car-card__article-name_text_size {
  margin: 0 0 30px 20px;
  font-size: 26px;
  line-height: 36px;
}


.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 80%;
  min-height: auto;
  margin: 0 auto;
}

.cars-articles {
  min-height: 100px;
  width: 60%;/*790px;*/
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.article {
  min-height: 520px;
  min-width: 775px;
  position: relative;
  margin: 10px 15px 130px 10px;
}

.article-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

.article-preview {
  min-height: 250px;
  min-width: 730px;
  position: absolute;
  left: 25px;
  bottom: -120px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.article-preview__name {
  margin: 0 auto 0 30px;
  height: 28px;
  left: 22.14%;
  right: 46.93%;
  top: calc(50% - 28px/2 - 1362px);
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  color: #171717;
  text-decoration: none;
}

.article-preview__name:hover {
  text-decoration: underline;
}

.article-preview__author {
  margin: 15px auto 15px 30px;
  height: 18px;
  left: 22.14%;
  right: 69.58%;
  top: calc(50% - 18px/2 - 1324px);
  font-family: PT Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.article-preview__note {
  margin: 0 auto 30px 30px;
  max-width: 640px;
  left: 22.14%;
  right: 45.89%;
  top: 24.18%;
  bottom: 74.39%;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}


.rside-bar {
  min-height: 100px;
  width: 40%;/*790px;*/
}

.navigation {
  min-height: 100px;
}

.popular {
  min-height: 100px;
}

.info {
  background: #171717;
  min-height: 100px;
}

/* Подвал */
.footer {
  background: #000000;
  min-height: 94px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 350px;
}

.copyright {
  color: white;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

